In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

# Top 10 ODI Teams - Women

In [3]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
driver = webdriver.Chrome()
driver.get(url)

In [4]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [5]:
table = soup.find('table',{'class':'table'}).tbody

In [6]:
ranks = []
teams = []
matches = []
points = []
ratings = []
row1 = table.find('tr',{'class':'rankings-block__banner'})
rank = row1.find('td',{'class':'rankings-block__banner--pos'}).text
team_dummy = row1.find('td',{'class':'rankings-block__banner--team-name'})
team = team_dummy.find('span',{'class':'u-hide-phablet'}).text
match = row1.find('td',{'class':'rankings-block__banner--matches'}).text
point = row1.find('td',{'class':'rankings-block__banner--points'}).text
rating = row1.find('td',{'class':'rankings-block__banner--rating u-text-right'}).text.strip()
ranks.append(rank)
teams.append(team)
matches.append(match)
points.append(point)
ratings.append(rating)

rows = table.find_all('tr',{'class':'table-body'},limit=9)
for row in rows:
    rank = row.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text
    team_dummy = row.find('td',{'class':'table-body__cell rankings-table__team'})
    team = team_dummy.find('span',{'class':'u-hide-phablet'}).text
    match_points = row.find_all('td',{'class':'table-body__cell u-center-text'})
    match = match_points[0].text
    point = match_points[1].text
    rating = row.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    teams.append(team)
    matches.append(match)
    points.append(point)
    ratings.append(rating)
driver.close()

In [7]:
teams = pd.DataFrame({'Rank':ranks,'team':teams,'matches':matches,'points':points,'ratings':ratings})

In [8]:
teams

  Rank          team matches points ratings
0    1     Australia      15  2,436     162
1    2         India      15  1,812     121
2    3       England      14  1,670     119
3    4  South Africa      16  1,713     107
4    5   New Zealand      15  1,384      92
5    6   West Indies      12  1,025      85
6    7      Pakistan      12    927      77
7    8    Bangladesh       5    306      61
8    9     Sri Lanka      11    519      47
9   10       Ireland       2     25      13

# Top 10 ODI Batsmen, Bowlers & All Rounders - Women

In [22]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
driver = webdriver.Chrome()
driver.get(url)

In [11]:
psoup = BeautifulSoup(driver.page_source,'html.parser')

In [12]:
bat_table1 = psoup.find('div',{'data-title':'ODI Batting Rankings'})
bat_table2 = bat_table1.table.tbody

In [13]:
ranks = []
names = []
teams = []
ratings = []
prow1 = bat_table1.find('div',{'class':'rankings-block__banner'})
rank = prow1.find('div',{'class':'rankings-block__banner--pos'}).text.strip()
prow11 = prow1.find('div',{'class':'rankings-block__banner--player-info'})
name = prow11.find('div',{'class':'rankings-block__banner--name'}).text
team_rating = prow11.find('div',{'class':'rankings-block__banner--nationality'})
team = team_rating.text.strip()
rating = team_rating.find('div',{'class':'rankings-block__banner--rating'}).text
ranks.append(rank)
names.append(name)
teams.append(team)
ratings.append(rating)

prows = bat_table2.find_all('tr',{'class':'table-body'})
for prow in prows:
    rank = prow.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text.strip()
    name = prow.find('td',{'class':'table-body__cell name'}).a.text
    team = prow.find('td',{'class':'table-body__cell nationality-logo'}).text.strip()
    rating = prow.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    names.append(name)
    teams.append(team)
    ratings.append(rating)

In [16]:
batswomen = pd.DataFrame({'Rank':ranks,'name':names,'team':teams,'ratings':ratings})

In [17]:
batswomen

,Rank,name,team,ratings
0,1,Meg Lanning,AUS\n 749,749
1,2,Stafanie Taylor,WI,746
2,3\n \n\n\n\nThis player has moved up in...,Alyssa Healy,AUS,741
3,4\n \n\n\n\nThis player has moved down ...,Smriti Mandhana,IND,732
4,5,Amy Satterthwaite,NZ,723
5,6,Tammy Beaumont,ENG,716
6,7,Ellyse Perry,AUS,691
7,8,Lizelle Lee,SA,690
8,9,Laura Wolvaardt,SA,689
9,10,Mithali Raj,IND,687

In [18]:
bowl_table1 = psoup.find('div',{'data-title':'ODI Bowling Rankings'})
bowl_table2 = bowl_table1.table.tbody

In [19]:
ranks = []
names = []
teams = []
ratings = []

p1row1 = bowl_table1.find('div',{'class':'rankings-block__banner'})
rank = p1row1.find('div',{'class':'rankings-block__banner--pos'}).text.strip()
p1row11 = p1row1.find('div',{'class':'rankings-block__banner--player-info'})
name = p1row11.find('div',{'class':'rankings-block__banner--name'}).text
team_rating = p1row11.find('div',{'class':'rankings-block__banner--nationality'})
team = team_rating.text.strip()
rating = team_rating.find('div',{'class':'rankings-block__banner--rating'}).text
ranks.append(rank)
names.append(name)
teams.append(team)
ratings.append(rating)




p1rows = bowl_table2.find_all('tr',{'class':'table-body'})
for prow in p1rows:
    rank = prow.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text.strip()
    name = prow.find('td',{'class':'table-body__cell name'}).a.text
    team = prow.find('td',{'class':'table-body__cell nationality-logo'}).text.strip()
    rating = prow.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    names.append(name)
    teams.append(team)
    ratings.append(rating)

In [20]:
bowlers = pd.DataFrame({'Rank':ranks,'name':names,'team':teams,'ratings':ratings})

In [21]:
bowlers

,Rank,name,team,ratings
0,1,Jess Jonassen,AUS\n 804,804
1,2,Marizanne Kapp,SA,738
2,3,Megan Schutt,AUS,735
3,4,Shabnim Ismail,SA,717
4,5,Jhulan Goswami,IND,691
5,6\n \n\n\n\nThis player has moved up in...,Poonam Yadav,IND,679
6,7\n \n\n\n\nThis player has moved up in...,Shikha Pandey,IND,675
7,8\n \n\n\n\nThis player has moved down ...,Ellyse Perry,AUS,666
8,9,Anya Shrubsole,ENG,645
9,10,Deepti Sharma,IND,639

In [23]:
all_table1 = psoup.find('div',{'data-title':'ODI All-Rounder Rankings'})
all_table2 = all_table1.table.tbody

In [25]:
ranks = []
names = []
teams = []
ratings = []

p1row1 = all_table1.find('div',{'class':'rankings-block__banner'})
rank = p1row1.find('div',{'class':'rankings-block__banner--pos'}).text.strip()
p1row11 = p1row1.find('div',{'class':'rankings-block__banner--player-info'})
name = p1row11.find('div',{'class':'rankings-block__banner--name'}).text
team_rating = p1row11.find('div',{'class':'rankings-block__banner--nationality'})
team = team_rating.text.strip()
rating = team_rating.find('div',{'class':'rankings-block__banner--rating'}).text
ranks.append(rank)
names.append(name)
teams.append(team)
ratings.append(rating)




p1rows = all_table2.find_all('tr',{'class':'table-body'})
for prow in p1rows:
    rank = prow.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text.strip()
    name = prow.find('td',{'class':'table-body__cell name'}).a.text
    team = prow.find('td',{'class':'table-body__cell nationality-logo'}).text.strip()
    rating = prow.find('td',{'class':'table-body__cell u-text-right rating'}).text
    ranks.append(rank)
    names.append(name)
    teams.append(team)
    ratings.append(rating)
driver.close()

In [26]:
all_rounders = pd.DataFrame({'Rank':ranks,'name':names,'team':teams,'ratings':ratings})

In [27]:
all_rounders

,Rank,name,team,ratings
0,1,Ellyse Perry,AUS\n 460,460
1,2,Stafanie Taylor,WI,410
2,3,Marizanne Kapp,SA,389
3,4,Deepti Sharma,IND,359
4,5,Dane van Niekerk,SA,335
5,6\n \n\n\n\nThis player has moved up in...,Jess Jonassen,AUS,301
6,7\n \n\n\n\nThis player has moved down ...,Sophie Devine,NZ,289
7,8,Natalie Sciver,ENG,273
8,9,Shikha Pandey,IND,250
9,10,Katherine Brunt,ENG,232